#rad_block_logo {
    display: none !important;
}
body{
    background-color: rgb(67, 66, 66);
}
#rad_player{
    margin-left: auto;
    margin-right: auto;
}
#rad_stationname{
    width: 167px!important;
}
/* #rad_block_select{
    width: 200px !important;
} */